@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

*{
	margin: 0;
	padding: 0;
}
body {
  text-align: center;
  background-color: #0af;
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 100;
  font-family: 'Syne Mono', monospace;
  height: 100vh;
}

.container{
	backdrop-filter: blur(3rem);
	background-color: rgba(0, 0, 0, 0.5);
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	position: fixed;
	right: 0px;
	gap: 5px;
	top: 0;
	padding: 1rem;
	border-radius: 0 0 0 20px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-top: 0;
	border-right: 0;
}

h1 {
  color: #fff;
  font-weight: 100;
  font-size: 40px;
  padding: 0 1rem;
  font-weight: 800;
}

.clockdiv {
  color: #fff;

  align-items: center;
  justify-content: end;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  display: grid;
  grid-template-columns: 150px 120px 120px 120px 120px;
  gap: 5px;
}

.clockdiv > div {
  padding: 15px;
  border-radius: 3px;
  /* background: #00bf96; */
}

.clockdiv div > span {
  padding: 0 15px;
  font-size: 18px;
  font-weight: 800;
  border-radius: 3px;
  /* background: #00816a; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.smalltext {
  margin-top: 10px;
  font-size: 13px;
}

#btn{
	padding: .5rem;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}

#btn:hover{
	background-color: #111;
	color: white;
	border-color: white;
}

.heading{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.discord{
  position: fixed;
  bottom: 10px;
  right: 10px;

}

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 2rem;
}

.home-container a{
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  padding: .5rem;
}